.text-page-container {
  /* background: #181228; */
  color: #f8f8ff;
  min-height: 100vh;
  width: 100%;
  padding: 2.5rem 3vw;
  margin-left: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}


.text-page-container h1, .text-page-container h2 {
  text-align: center;
}

.text-page-container h1 {
  font-size: 2.4rem;
  color: #001aff;                /* чуть светлее для главного заголовка */
  margin-bottom: 2.2rem;
  margin-top: 1.5rem;
}

.text-page-container h2 {
  font-size: 1.3rem;
  color: #00d9ff;                /* пастельный акцент */
  margin-top: 2rem;
  margin-bottom: 0.9rem;
}

.text-page-container p {
  max-width: 700px;
  font-size: 1.05rem;
  color: #00174d;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.6;
}

.text-page-container div{
  color: #00174d;
  max-width: 750px;
  width: 100%
}

.text-page-container ol {
  max-width: 750px;
  width: 100%;
  margin-left: 10%;
  color: #00174d;
  font-size: 1.05rem;
  text-align: left;
  line-height: 1.6;
  padding-left: 2rem;   /* Чтобы номера не налегали на текст */
}

.text-page-container li {
  margin-bottom: 0.7rem;
}